<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

    {{#if config.includeIndexFiles}}
    {{#unless hideNav}}
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.1/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/index.css">
    <script src="/index.js"></script>
    {{/unless}}
    {{/if}}

    <% if (platform === 'doubleclick') { %>
    <script src="http://s0.2mdn.net/ads/studio/Enabler.js"></script>
    <% } %>

    {{#if config.template}}
    <link rel="stylesheet" href="/css/{{config.template}}.css" inline>
    {{/if}}

  </head>


  <body>

    {{#unless config.hideNav}}
    <div class="mc-banner">

      {{#if config.template}}
      <header class="header">

        <ul class="header__list">

          <li class="header__item header__item--title">
            <a class="header__link header__link--arrow" href="../">
              <i class="zmdi zmdi-home"></i>
            </a>
            {{config.template}}

          </li>

          {{#each config.listOfTemplates}}
          <li class="header__item">
            <a class="header__link {{#if config.active}}header__link--active{{/if}}" href="/preview/{{config.fileName}}.html">{{config.fileName}}.html</a>
          </li>
          {{/each}}

          <li class="header__item header__item--fullscreen">
            <a class="header__link header__link--arrow" href="?hide-nav">
              <i class="zmdi zmdi-fullscreen"></i>
            </a>
          </li>

        </ul>

      </header>
      {{/if}}

      {{#unless config.template}}
      <main class="main">

        {{#each config.files}}
        <div class="main__group">

          <h3 class="main__title"><i class="zmdi zmdi-hc-lg zmdi-folder"></i> Variants for <strong>{{ @key }}</strong>:</h3>
          <ul class="main__list">

            {{#each .}}
            <li class="main__item">
              <a class="main__link" href="/preview/{{config.fileName}}.html">{{config.fileName}}.html</a>
            </li>
            {{/each}}

          </ul>

        </div>
        {{/each}}

      </main>
      {{/unless}}

    </div>
    {{/unless}}

    {{#if config.template}}
    {{#if config.includeIndexFiles}}
    <div class="mc-banner-preview {{#if config.align}}mc-banner-preview--{{config.spacing}} mc-banner-preview--{{config.spacing}}-{{config.align}}{{/if}}">
    {{/if}}

    {{> template}}

    {{#if config.includeIndexFiles}}
    </div>
    {{/if}}

    <% if (dynamic) { %>
    <script>
      var variant = {};
      variant.dynamic = getDynamicFields();

      function getDynamicFields() {
        var dynamic = [];

        {{#each dynamic}}
          dynamic.push("{{.}}");
        {{/each}}

        return dynamic;
      }
    </script>
    <% } %>

    <% if (platform === 'doubleclick') { %>
    <script language="javascript">
      Enabler.setProfileId({{profileId}});

    	window.onload = function() {
    		if (Enabler.isInitialized()) {
    			init();
    		} else {
    			Enabler.addEventListener(studio.events.StudioEvent.INIT, init);
    		}
    	}

    	function init() {
    		if (Enabler.isPageLoaded()) {
    			politeInit();
    		} else {
    			Enabler.addEventListener(studio.events.StudioEvent.PAGE_LOADED, politeInit);
    		}
    	}
    </script>
    <% } %>

    <script src="/js/{{config.template}}.js" inline></script>
    {{/if}}

    {{#if config.includeIndexFiles}}
    {{#unless config.template}}
    <script>
    (function(){
      minigrid('.mc-banner .main', '.mc-banner .main__group', 10);
      window.addEventListener('resize', function(){
        minigrid('.mc-banner .main', '.mc-banner .main__group', 10);
      });
    })();
    </script>
    {{/unless}}
    {{/if}}

  </body>
</html>
